@model Article

@{
    ViewData["Title"] = "Edit Article";
}

<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>

<h1>New Article</h1>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" value="@Model.Id"/>
    <div class="form-group py-2">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control blog-post-title" placeholder="title" value ="@Model.Title"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group py-2">
        <input type="hidden" asp-for="AuthorId" value="@Model.AuthorId" />
        <div class="col-6">
            <label >Creation statement:</label>
            <p class="blog-post-meta">@DateTime.Now by 
                <a asp-controller="Account" asp-action="Detail" asp-route-id="@Model.AuthorId"> 
                    @Model.Author.UserName
                </a>
            </p>
        </div>
    </div>
    <div class="form-group py-2" >
        <label asp-for="Abstract">Abstract</label>
        <textarea asp-for="Abstract" class="form-control autosize" placeholder="description" value="@Model.Abstract"></textarea>
        <span asp-validation-for="Abstract" class="text-danger"></span>
    </div>
    <div class="form-group py-2" >
        <label asp-for="ImageUrl">Image</label>
        <input asp-for="ImageUrl" class="form-control blog-post-title" placeholder="immage URL" value ="@Model.ImageUrl"/>
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group py-2" >
        <label asp-for="Text">Abstract</label>
        <textarea id="editable" asp-for="Text" class="form-control" placeholder="description" value="@Model.Text"></textarea>
        <script>
            var editor = new FroalaEditor("#editable");
        </script>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancel</a>
    <button type="submit" class="btn btn-primary float-end right">Save Changes</button>
</form>