@using Blog.Models
@model Article

@{
    ViewData["Title"] = "Article";
}

<div class="blog-post">
    <h2 class="blog-post-title">@Model.Title</h2>
    <hr>
    <p class="blog-post-meta">@Model.LastEdition by <a href="#">Mark</a></p>
    <p>@Model.Abstract</p>
    <hr/>
    @foreach (var item in Model.Items)
    {
        @if (item.GetType().Equals(typeof(ArticleMedia)))
        {
            var element = (ArticleMedia)item;
            <h3>@element.Title</h3>
            <img src="@element.MediaUrl" width="100%" height="100%" />
        }
        else
        {
            var element = (ArticleText)item;

            <p>@element.Text</p>
        }
        <hr/>
    }
</div>