@model Article

@{
    ViewData["Title"] = "Article";
}

<div class="py-5 form-group container">
    <div class="form-group float-end right">
        <a class="btn btn-outline-secondary " asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id">
            Edit
        </a>
        <a class="btn btn-outline-danger" asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id">
            Delete
        </a>
    </div>

    <div class="blog-post">
        <h2 class="blog-post-title">@Model.Title</h2>
        <hr>
        <p class="blog-post-meta">@Model.LastEdition by <a href="#">Mark</a></p>
        <hr />
        <p>@Model.Abstract</p>
        <hr />
        @Html.Raw(Model.Text)
        <hr />
    </div>

    <div class="form-group float-start">
        <a class="btn btn-outline-secondary " asp-controller="Comment" asp-action="Add" asp-route-id="@Model.Id">
            Add Comment
        </a>
    </div>
</div>